<div class="pipes">
  <h1>
    Пример работы разных кастомных pipe-ов
  </h1>
  <div class="mask__container">
    <h3>
      Пример работы cardMask pipe
    </h3>
    <p class="mask__example">Без pipe: 1234-5678-9876-5432</p>
    <p class="mask__example"><b>С pipe:</b> Пример с использованием pipe маски {{ '1234-5678-9876-5432' | cardMask }}</p>
  </div>
  <div class="mask__container">
    <h3>
      Пример работы convertCase pipe
    </h3>
    <p class="mask__example">Добрый осенний денек</p>
    <p class="mask__example"><b>upper:</b> {{ 'Добрый осенний денек' | convertCase:'upper' }}</p>
    <p class="mask__example"><b>lower:</b> {{ 'Добрый осенний денек' | convertCase:'lower' }}</p>
    <p class="mask__example"><b>title:</b> {{ 'Добрый осенний денек' | convertCase:'title' }}</p>
    <p class="mask__example"><b>wrong_case:</b> {{ 'Добрый осенний денек' | convertCase:'kisik' }}</p>
  </div>
</div>


